[submodule "Submod"]
	branch = docking
[submodule "Rosewood/vendor/assimp"]
	path = Rosewood/vendor/assimp
	url = https://github.com/AminAliari/assimp
[submodule "Rosewood/vendor/soloud"]
	path = Rosewood/vendor/soloud
	url = https://github.com/jarikomppa/soloud
[submodule "Rosewood/vendor/glm"]
	path = Rosewood/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Rosewood/vendor/glfw"]
	path = Rosewood/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Rosewood/vendor/imgui"]
	path = Rosewood/vendor/imgui
	url = https://github.com/ocornut/imgui/
