[submodule "Submod"]
	branch = docking
[submodule "Rosewood/vendor/soloud"]
	path = Rosewood/vendor/soloud
	url = https://github.com/dovker/soloud.git
[submodule "Rosewood/vendor/glm"]
	path = Rosewood/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Rosewood/vendor/glfw"]
	path = Rosewood/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Rosewood/vendor/spdlog"]
	path = Rosewood/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rosewood/vendor/zlib"]
	path = Rosewood/vendor/zlib
	url = https://github.com/madler/zlib
[submodule "Rosewood/vendor/yaml-cpp"]
	path = Rosewood/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Rosewood/vendor/imgui"]
	path = Rosewood/vendor/imgui
	url = https://github.com/dovker/imgui.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/dovker/assimp.git
